---
---
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Luke Aeschleman - Resume</title>
    <meta name="description" content="Luke Aeschleman's Resume">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="content" role="main">

        <section class="sidebar">
            <div class="row">
                <img class="clip-circle" src="luke.jpg" alt="Image of Luke Aeschleman's face">
            </div>
            <div class="row">
                <h1 class="nameplate">
                    <span class="firstname">Luke</span>
                    <span class="lastname">Aeschleman</span>
                </h1>
            </div>
            <div class="row">
                <span class="subtitle">Librarian&nbsp;&nbsp;+&nbsp;&nbsp;Full stack developer</span>
            </div>
            <div class="row">
                <div id="contactInfo">
                    <dl class="justified-list">
                        <dt aria-label="Email address">{% include svg-icon.html icon="email" size="sm" %}</dt>
                        <dd>lukeaeschleman@gmail.com</dd>
                        <dt aria-label="Twitter handle">{% include svg-icon.html icon="twitter" size="sm" %}</dt>
                        <dd>queryluke</dd>
                        <dt aria-label="Phone number">{% include svg-icon.html icon="phone" size="sm" %}</dt>
                        <dd>828.773.7095</dd>
                    </dl>
                </div>
            </div>
            <hr>
            <div class="row">
                <div id="technicalSkills">
                    <h2>{% include svg-icon.html icon="code" size="xl" %}Technical Skills</h2>
                    <dl class="justified-list skills">
                        {% for skill in site.data.skills %}
                        <dt>{{ skill.name }}</dt>
                        <dd>{% include skill-level.html level=skill.level %}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="row">
                <div id="professionalInterests">
                    <h2>{% include svg-icon.html icon="light-bulb" size="xl" %}Interests</h2>
                    <h3>Professional</h3>
                    <ul class="list-unstyled list-inline">
                        <li>Search UI</li>
                        <li>HCI</li>
                        <li>Information search behavior</li>
                        <li>RESTful APIs</li>
                    </ul>
                    <h3>Personal</h3>
                    <ul class="list-unstyled list-inline">
                        <li>Baseball</li>
                        <li>Cooking</li>
                        <li>Canines</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="main">
            <div class="row">
                <div id="education">
                    <h2>{% include svg-icon.html icon="education" size="xl" %}Education</h2>
                    {% for ed in site.data.education %}
                        <div class="education-div">
                            <ul class="list-unstyled">
                                {% for degree in ed.degree %}
                                <li><strong>{{ degree }}</strong></li>
                                {% endfor %}
                            </ul>
                            <span class="date">{{ ed.date }}</span>
                            <div class="degree-place">
                                <em>{{ ed.university }}</em> -- <em>{{ ed.place }}</em>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div id="experience" style="margin-top: 1em;">
                    <h2>{% include svg-icon.html icon="experience" size="xl" %}Experience</h2>
                    {% for ex in site.data.experience %}
                        <div class="experience-div">
                            <h3>{{ ex.title }} <span class="date">{{ ex.date }}</span></h3>
                            <div class="ex-place">
                                <em>{{ ex.org }}</em> -- <em>{{ ex.place }}</em>
                            </div>
                            <p style="margin-top: .3em;">
                                {{ ex.description }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div id="presentations">
                    <h2>{% include svg-icon.html icon="presentation" size="xl" %}Posters & Presentations</h2>
                    {% for pres in site.data.presentations %}
                        <p>
                            {{ pres.authors }} <em>{{ pres.title }}</em> {{ pres.additional }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div id="committees">
                    <h2>{% include svg-icon.html icon="handshake" size="xl" %}Committees</h2>
                    <div id="committeeList">
                        {% for com in site.data.committees %}
                            <div class="committee">
                                <span class="org" aria-label="Committee Parent Organization">{{ com.org }}</span>
                                <span class="name" aria-label="Committee Name">{{ com.committee }}</span>
                                <span class="role" aria-label="Committee Role">{{ com.position }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
